{% extends "base.html" %}

{% block title %}Tags &ndash; {{ SITENAME }}{% endblock title %}

{% block header %}
<header class="intro-header" style="background-image: url('{{ SITEURL }}/theme/images/default.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Tags</h1>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <ul>
        {% for tag, articles in tags %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
