= partial :header, locals: { title: 'About', subtitle: nil }

.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      :markdown
        I'm programmer living in the greater Seattle area. When I'm not in front
        of my computer building I'm sailing around the Puget Sound.

        You can follow me on twitter: [@#{data.social.twitter_username}](https://twitter.com/#{data.social.twitter_username})
        or [hire me](/resume)!
